
<div class="header">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course/create">Tạo khoá học</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
   <a class="btn btn-primary" href="/course/me" type="submit">Khoá học của tôi</a>
   <a class="btn btn-primary" href="/user/login" type="submit">Đăng Nhập</a>
   <a class="btn btn-primary" href="/user/resigst" type="submit">Đăng ki</a>
   <form method="POST" action="user/logouted">
  <button type="submit" class="btn btn-primary">Dang Xuat</button>
</form>
  </div>
</nav>
</div>